<h1>This is the Home Page </h1>

<ul>
<li>
<%= link_to "View Accounts", :controller=>"account", :action=>"index" %>
</li>
<p>
<li>
<%= link_to "View Register", :controller=>"register", :action=>"list" %>
</li>
<p>
<li>
<%= link_to "View Reports", :controller=>"report", :action=>"index" %>
</ul>

